option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

packages:
  yum:
    gcc: []
    gcc-c++: []
    make: []

container_commands:
  00_make_tmp:
    command: "mkdir -p /var/app/tmp && chmod 1777 /var/app/tmp"
  01_upgrade_pip:
    command: "python -m pip install --upgrade pip setuptools wheel"
  02_install_requirements:
    command: "TMPDIR=/var/app/tmp PIP_NO_CACHE_DIR=1 pip install --default-timeout=240 --no-cache-dir -r requirements.txt"
  03_clean_yum:
    command: "dnf clean all || yum clean all || true"
