option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

packages:
  yum:
    gcc: []          
    gcc-c++: []      
    make: []         

container_commands:
  01_upgrade_pip:
    command: "python -m pip install --upgrade pip setuptools wheel"
  02_install_requirements:
    command: "pip install --default-timeout=180 --no-cache-dir -r requirements.txt"
